<div [formGroup]="form" class="form-group">
    <div [ngSwitch]="input.controlType">

       <!--  Native Input
        <div *ngSwitchCase="'textbox'">
          <label [attr.for]="input.key">{{input.label}}</label>
          <input class="form-control" [formControlName]="input.key" [id]="input.key" [type]="input.type">
        </div> -->

       <!--Material Input-->
        <div *ngSwitchCase="'textbox'">
          <span>Please Enter your {{input.label}}:</span><br><br>
          <mat-form-field appearance="outline">
            <mat-label>{{input.label}}**</mat-label>
            <input type="text" matInput [placeholder]="input.label" [formControlName]="input.key">
            <mat-error>{{input.error}}</mat-error>
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'date'">
          <span>Please Enter your DOB:</span><br><br>
          <mat-form-field appearance="outline">
            <mat-label>DOB</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="input.key">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{input.error}}</mat-error>
          </mat-form-field>
        </div>
    
        <!--  Native Dropdown-->
        <!-- <div *ngSwitchCase="'dropdown'">
          <label [attr.for]="input.key">{{input.label}}</label>
          <select class="custom-select" [id]="input.key" [formControlName]="input.key">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div> -->

        <div *ngSwitchCase="'dropdown'">
          <mat-form-field appearance="outline">
            <mat-label [attr.for]="input.key">{{input.label}}</mat-label>
            <mat-select [id]="input.key" [formControlName]="input.key">
              <mat-option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</mat-option>
            </mat-select>
            <mat-error>{{input.error}}</mat-error>
          </mat-form-field>
        </div>

        <!--Native checkbox-->
        <div *ngSwitchCase="'checkbox'">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [formControlName]="input.key" [id]="input.key">
            <label class="form-check-label" [attr.for]="input.key">{{input.label}}</label>
          </div>
        </div><br>

      <!--Material checkbox not working-->
       <div *ngSwitchCase="'checkbox'">
          <section class="example-section" >
            <mat-checkbox [formControlName]="input.key" class="example-margin">{{input.label}}</mat-checkbox>
          </section>
       </div>



       <!--Native Radio
        <div *ngSwitchCase="'radio'">
          <div class="form-check form-check-inline" *ngFor="let opt of input.options">
            <input class="form-check-input" type="radio" [formControlName]="input.key" [id]="input.key" [value]="opt.value">
            <label class="form-check-label" [attr.for]="opt.key"> {{ opt.value }} </label>
          </div>
        </div> -->

        <!--Material Radio-->
        <div *ngSwitchCase="'radio'">
            <span>Gender:</span><br>
            <mat-radio-group *ngFor="let opt of input.options"  [formControlName]="input.key" aria-label="Select an option">
              <mat-radio-button type="input.type" [value]="opt.value">{{opt.value}}</mat-radio-button><br>
            </mat-radio-group>
        </div>

        <!-- <div *ngSwitchCase="'textarea'">
          <label [attr.for]="input.key">{{input.label}}</label>
          <textarea class="form-control" [formControlName]="input.key" [id]="input.key" rows="5"></textarea>
        </div> -->

        <div *ngSwitchCase="'textarea'">
          <mat-form-field appearance="outline">
            <mat-label>Other Details</mat-label>
            <textarea [formControlName]="input.key" [id]="input.key" matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </div>
    
      </div>
  </div>


