<div class="header">
  <h2>Company Logo</h2>
  <mat-toolbar>
    <mat-nav-list class="list-horizontal">
      <mat-list-item>
        <a mat-button [routerLink]="['/home']" routerLinkActive="active">
          <i class="fa fa-home fa-2x"></i>&nbsp;
          <span>Home</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      </mat-list-item>
  
      <mat-list-item>
        <a mat-button routerLink="/about-us" routerLinkActive="active">About us</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/user" routerLinkActive="active">
          <i class="fa fa-user fa-2x"></i>&nbsp;User</a>
      </mat-list-item>
      <mat-list-item>
        <i class="fa fa-facebook"></i>&nbsp; &emsp;
      </mat-list-item>
      <mat-list-item>
        <i class="fa fa-twitter"></i>&nbsp; &emsp;
      </mat-list-item>
      <mat-list-item>
        <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp; &emsp;
      </mat-list-item>
      <mat-list-item>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>
</div>


