<div class="header">
  <a routerLink="/user" class="logo">CompanyLogo</a>
  <!-- <div class="header-right">
    <a class="button" [routerLink]="['/home']" routerLinkActive="active">Home</a>

    <a class="button" routerLink="/contact" routerLinkActive="active">Contacts</a>
    <a class="button" routerLink="/about-us" routerLinkActive="active">About-us</a>
    <a class="button" routerLink="/user" routerLinkActive="active">User</a>
    <i class="fa-brands fa-facebook"></i>
  </div>    -->
</div>

<mat-toolbar>
  <mat-nav-list class="list-horizontal">
    <mat-list-item>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active">
        <i class="fa fa-home fa-2x"></i>&nbsp;
        <span>Home</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-list-item>

    <mat-list-item>
      <a mat-button routerLink="/about-us" routerLinkActive="active">About us</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/user" routerLinkActive="active">
        <i class="fa fa-user fa-2x"></i>&nbsp;User</a>
    </mat-list-item>

    <div class="icon-align">
      <i class="fa fa-facebook"></i>&nbsp; &emsp;
      <i class="fa fa-twitter"></i>&nbsp; &emsp;
      <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp; &emsp;
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </div>
  </mat-nav-list>
</mat-toolbar>


