.register-card {
  height: 50%;
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.register-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
